
asociacion_vale/asociacion_vale/__pycache__/

*.pyc

asociacion_vale/users/migrations/

asociacion_vale/forums/migrations/

asociacion_vale/groups/migrations/

asociacion_vale/uploads/
asociacion_vale/tasks/migrations/
