
asociacion_vale/asociacion_vale/__pycache__/

*.pyc

asociacion_vale/users/migrations/__pycache__/

asociacion_vale/forums/migrations/__pycache__/

asociacion_vale/groups/migrations/__pycache__/

asociacion_vale/uploads/

asociacion_vale/.idea/
