{% extends  "tutors/tutors.html" %}
{% block main %}
<div class="container">
    <div class="row mt-5 bg-light rounded">
        
        <div class="col-sm-8">
            <h3>Bienvenido/a al panel de tutores</h3>
            <p>
                
                En este panel podras realizar tus labores como tutor facilmente. <br>
                Apostamos por una Planificación Centrada en cada Persona (PCP)

                Obtenemos información directamente de la persona, de sus familiares y de su entorno más cercano. Conocemos así sus fortalezas, habilidades y aspiraciones.
                
                Un enfoque individualizado, un programa propio con objetivos orientados en las necesidades y virtudes que ayuda a la persona a descubrir que es lo que quiere y poner a su alcanzance las oportunidades, herramientas y preparación que le permitan autorrealizarse como persona.
                
                Es una satisfacción ayudarles a participar en la comunidad y alcanzar la calidad de vida que por derecho les pertenece.
            </p>
        </div>
    
        <div class="col-sm-4 mt-1 mb-2">
            <img src="https://i.pinimg.com/originals/c8/31/1c/c8311c9a57319f1686a886f5acff180e.jpg" class="img-thumbnail" "img-responsive"="" alt="Cinque Terre" width="400" height="400">
            
        </div>
        
</div>

{% endblock %}