{% extends  "tutors/tutors.html" %}
{% load static %}
{% block main %}
<div class="container">
    <div class="row mt-5 bg-light rounded">
        
        <div class="col p-4" >
            <div class="card-header bg-light">
                <h3>Bienvenido/a al panel de tutores</h3>
            </div>
            <div class="card-body d-flex justify-content-center" >
                <div class="row" > 
                    <div class="card p-2 m-2" style="width: 12rem;">
                        <a href="{% url 'groups' %}" style="text-decoration: none;">
                            <img src="{% static 'img/groups.png' %}" class="card-img-top p-2" alt="Imagen de Grupos">
                            <hr>
                            <div class="card-body text-center" style="margin-top: -20px;">
                              <p class="card-text"><b>Grupos</b></nav></p>
                            </div>
                        </a>
                    </div>
                    <div class="card p-2 m-2" style="width: 12rem;">
                        <a href="{% url 'users' %}" style="text-decoration: none;">
                            <img src="{% static 'img/users.png' %}" class="card-img-top p-2" alt="Imagen de Usuarios">
                            <hr>
                            <div class="card-body text-center" style="margin-top: -20px;">
                              <p class="card-text"><b>Usuarios</b></nav></p>
                            </div>
                        </a>
                    </div>
                    <div class="card p-2 m-2" style="width: 12rem;">
                        <a href="#" style="text-decoration: none;">
                            <img src="{% static 'img/userProfile.png' %}" class="card-img-top p-2" alt="Imagen de Perfil">
                            <hr>
                            <div class="card-body text-center" style="margin-top: -20px;">
                              <p class="card-text"><b>Perfil</b></nav></p>
                            </div>
                        </a>
                    </div>
                    <div class="card p-2 m-2" style="width: 12rem;">
                        <a href="{% url 'tutorTasks' %}" style="text-decoration: none;">
                            <img src="{% static 'img/tasks.png' %}" class="card-img-top p-2" alt="Imagen de Tareas">
                            <hr>
                            <div class="card-body text-center" style="margin-top: -20px;">
                                <p class="card-text"><b>Tareas</b></nav></p>
                            </div>
                        </a>
                    </div>
                    <div class="card p-2 m-2" style="width: 12rem;">
                        <a href="#" style="text-decoration: none;">
                            <img src="{% static 'img/config.png' %}" class="card-img-top p-2" alt="Imagen de Configuración">
                            <hr>
                            <div class="card-body text-center" style="margin-top: -20px;">
                                <p class="card-text"><b>Configuración</b></nav></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-light">
                <p>
                    En este panel podras realizar tus labores como tutor facilmente. <br>
                    Apostamos por una Planificación Centrada en cada Persona (PCP)
    
                    Obtenemos información directamente de la persona, de sus familiares y de su entorno más cercano. Conocemos así sus fortalezas, habilidades y aspiraciones.
                    
                    Un enfoque individualizado, un programa propio con objetivos orientados en las necesidades y virtudes que ayuda a la persona a descubrir que es lo que quiere y poner a su alcanzance las oportunidades, herramientas y preparación que le permitan autorrealizarse como persona.
                    
                    Es una satisfacción ayudarles a participar en la comunidad y alcanzar la calidad de vida que por derecho les pertenece.
                </p>
            </div>      
        </div>
        
</div>

{% endblock %}