{% extends  "tutors/tutors.html" %}
{% load static %}
{% block otherScripts %}
<script type="text/javascript" src="{% static 'javascript/users.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row mt-4  ">
        <div class="col-sm" style="color: white; margin-left: 16%;">
            <h1>Perfil</h1>
        </div>
    </div>
</div>

<div class="container pt-3 w-50">
    <div class="card align-items-center ">
        <div class="row fila">
            <div class="col-sm">
                <div class="card-body">
                    <div class="col-1" style="margin-left: 25%;">
                        <div class="bg-dark text-center p-2" style="width: 200px; height: 200px; border-radius: 700px; color: white;">
                            <h1 class=" mt-5" id="userName" style="font-size: 75px;">{{ user.first_name.0 }}{{ user.last_name.0 }}</h1>
                        </div>
                    </div>
                    <div class="mt-3 p-2">
                        <div class="col-sm ">
                            <h4 class="card-title ml-5 p-2"><b>Nombre:</b> <span style="font-size: 20px;">{{ user.first_name }} {{ user.last_name }}</span></h4>
                        </div>
                        <div class="col-sm ">
                            <h4 class="card-title ml-5 p-2"><b>Nombre de usuario:</b> <span style="font-size: 20px;">{{ user.username }}</span></h4>
                        </div>
                        <div class="col-sm ">
                            <h4 class="card-title ml-5 p-2"><b>Email:</b> <span style="font-size: 20px;">{{ user.email }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}