{% extends  "tutors/tutors.html" %}
{% load static %}
{% block otherScripts %}
    <script type="text/javascript" src="{% static 'javascript/tasks.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="container ">
        <div class= "row mt-4">
            <div class= "col" style="color: white;">
                <h2>Tareas</h2>
                <input type="text" id="myInput" style="float: left; padding: 10px; width: 262px;" onkeyup="myFunction()" placeholder="Busca por nombre...">
                <a class="btn w-10 mb-3 p-2" role="button" data-toggle="modal" data-target="#newTaskModal" style="margin-left: 40%; border-color: rgb(0, 255, 42); border-style: solid;" href="#" >
                    <img src="{% static 'img/mas.png' %}" alt="Añadir tarea" width="50px"><span style="color: white; padding: 10px; font-size: 18px;">Crear Tarea</span>
                </a>
            </div>
        </div>
    </div>
    {% if not tasks %}
    <div class="container mt-2" style="width: 60%; margin-right: 420px;">
      <div class="card ">
          <div class="row fila">
              <div class="col">
                  <div class="card-body">
                      <div class="row mt-2 w-100 d-flex justify-content-center">
                        <h3 class="p-2">No hay ninguna tarea creada</h3>
                      </div>
                      
                  </div>
              </div>
          </div>
        </div>
    </div>
    {% endif %}
    <div id="myUL">
        {% for task in tasks %}
            <div class="container">
              <div class="row align-items-center fila">
                <div class="col-9" style="margin-right: 10px;">
                  <a href="{% url 'tutorTasksEdit' id=task.id %}" style="text-decoration: none;">
                      <div class="card" style="width: 55rem;">
                          <div class="card-body">
                              <div class="row align-items-center">
                                <div class="col-1">
                                {% if task.image %}
                                  <img style="width: 50px;" class="card-img" src="{% static task.image.url %}" alt="Card image cap">
                                {% else %}
                                  <img style="width: 50px;" class="card-img" src="{% static 'img/resoluciones.png' %}" alt="Card image cap">
                                {% endif %}
                                </div>
                                <div class="col-sm">
                                  <h2 class="card-title">{{ task.title }}</h2>
                                  <h5 class="card-subtitle mb-2 text-muted">{{ task.shortDescription }}</h5>
                                </div>
                              </div>
                          </div>
                      </div>
                  </a>
                </div>
                <div class="col-sm">
                  <div class="row align-items-center">
                    <div class="col-5">
                        <a class="btn w-10 mb-1 p-2" role="button" style="margin-left: 40%; border-color: rgb(238, 255, 0); border-style: solid;" href="{% url 'tutorTasksEdit' id=task.id  %}" >
                            <img src="{% static 'img/editar.png' %}" alt="Editar tarea" width="50px"><span style="color: white; padding: 10px; font-size: 18px;">Editar</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="btn w-10 mb-1 p-2" role="button" data-toggle="modal" data-target="#deleteTaskModal" data-title="{{ task.title }}" data-id="{{ task.id }}" style="margin-left: 40%; border-color: rgb(255, 0, 0); border-style: solid;" href="#" >
                            <img src="{% static 'img/eliminar.png' %}" alt="Eliminar tarea" width="50px"><span style="color: white; padding: 10px; font-size: 18px;">Eliminar</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
        {% endfor %}
    </div>
    
    <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteTaskModalLabel">Borrar Tarea</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p class="text-center">¿Realmente quiere borrar la tarea?</p>
              <div style="margin-left: auto; margin-right:auto; width: 100px;">
                  <a class="btn btn-light btn-outline-dark borrar-link" href="" role="button"><img style="width: 110%;" src="{% static 'img/eliminar.png' %}" /></a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    {% include "tutors/task-new.html" with form=form users=users categoryForm=categoryForm%}
{% endblock %}