{% extends  "tutors/tutors.html" %}
{% block otherScripts %}
{% load static %}
    <script type="text/javascript" src="{% static 'javascript/chat.js' %}"></script>
{% endblock %}
{% block main %}
<style>
    @media (min-width: 1200px) {
        .container.list {
            width: 70% !important;
            height:  400px;
        }
    }
    @media (min-width: 992px) {
        .container.list {
            width: 70% !important;
            height:  400px;
        }
    }
    @media (min-width: 768px) {
        .container.list {
                width: 70% !important;
                height:  400px;
        }
    }
    
    .container.list{ width: 50% !important; height:  500px; overflow: auto;}
    .container.list{
        background-color: rgba(142, 242, 245, 0.288);
    }
    
    
</style>
<div class="container list mb-2" style="height: 70px; overflow: hidden;" >
    <div class= "row mt-3 mb-2 w-100 text-center ml-1">
        <div class= "col-sm w-100">
            <h2 style="color: ghostwhite;"><b>{{task.title}}</b></h2>
        </div>
    </div>
</div>
<div class="container list bg-light rounded" style="width: 300px;" id="chat">
    {% for message in messages %}
    {% if tutor == message.emisor %}
        <div class= "container w-50 bg-primary rounded m-2" style="float: right; color: white;">
            <p class="row text-dark p-3 text-capitalize font-weight-bold" style="margin-bottom: -10px; margin-top: -10px;" id="{{ task.title }}">{{ message.emisor }} </p>
            {% if message.path %}
                <div id="file-{{ message.id }}" style="margin-bottom: 5px; width: 50px;">
                    {% if message.mimeType == ".pdf" %}
                        <a href="{% static message.path %}" target="_blank" class="d-flex justify-content-center">
                            <img src="{% static 'img/pdf.png' %}" class="m-2" alt="Archivo PDF" width="50%">
                        </a>
                    {% elif message.mimeType == ".txt" %}
                    <a href="{% static message.path %}" target="_blank"  class="d-flex justify-content-center">
                        <img src="{% static 'img/txt.png' %}" class="m-2 "  alt="Archivo TXT" width="50%">
                    </a>
                    {% elif message.mimeType == ".docx" %}
                    <a href="{% static message.path %}" target="_blank" class="d-flex justify-content-center">
                        <img src="{% static 'img/docx.png' %}" class="m-2" alt="Archivo DOCX" width="50%">
                    </a>
                    {% elif message.mimeType == ".png" or message.mimeType == ".jpg" %}
                        <a href="{% static message.path %}" target="_blank">
                            <img src="{% static message.path %}" class="m-2" alt="Archivo Imagen" width="100%">
                        </a>
                    {% elif message.mimeType == ".mp3" or message.mimeType == ".wav" %}
                        <audio src="{% static message.path %}" class="m-2" preload="auto" controls></audio>
                    {% elif message.mimeType == ".zip"%}
                    <a href="{% static message.path %}" class="d-flex justify-content-center">
                        <img src="{% static 'img/zip.png' %}" class="m-2" alt="Archivo Zip" width="50%">
                    </a>
                    {% elif message.mimeType == ".rar"%}
                    <a href="{% static message.path %}"class="d-flex justify-content-center">
                        <img src="{% static 'img/rar.png' %}" class="m-2" alt="Archivo Rar" width="50%">
                    </a>
                    {% elif message.mimeType == ".mp4"%}
                        <video src= "{% static message.path %}"  width="320" controls></video>
                    {% endif %}
                </div>
            {% endif %}
            <p class="row p-3" style="margin-bottom: -20px; margin-top: -30px;" id="{{ task.title }}">{{ message.body }} </p>
            <p class="row font-italic p-3 d-flex justify-content-end " style="margin-bottom: -10px; margin-top: -30px;">{{message.created|date:"H:m"}}</p>
        </div>
    {% else %}
        <div class= "container w-50 bg-success rounded m-2" style="float: left; color: white;">
            <p class="row text-dark p-3 text-capitalize  font-weight-bold" style="margin-bottom: -10px; margin-top: -10px;" id="{{ task.title }}">{{ message.emisor }} </p>
            {% if message.path %}
                <div id="file-{{ message.id }}">
                    {% if message.mimeType == ".pdf" %}
                        <a href="{% static message.path %}" target="_blank" class="d-flex justify-content-center">
                            <img src="{% static 'img/pdf.png' %}" class="m-2" alt="Archivo PDF" width="50%">
                        </a>
                    {% elif message.mimeType == ".txt" %}
                    <a href="{% static message.path %}" target="_blank"  class="d-flex justify-content-center">
                        <img src="{% static 'img/txt.png' %}" class="m-2 "  alt="Archivo TXT" width="50%">
                    </a>
                    {% elif message.mimeType == ".docx" %}
                    <a href="{% static message.path %}" target="_blank" class="d-flex justify-content-center">
                        <img src="{% static 'img/docx.png' %}" class="m-2" alt="Archivo DOCX" width="50%">
                    </a>
                    {% elif message.mimeType == ".png" or message.mimeType == ".jpg" %}
                        <a href="{% static message.path %}" target="_blank">
                            <img src="{% static message.path %}" class="m-2" alt="Archivo Imagen" width="100%">
                        </a>
                    {% elif message.mimeType == ".mp3" or message.mimeType == ".wav" %}
                        <audio src="{% static message.path %}" class="m-2" preload="auto" controls></audio>
                    {% elif message.mimeType == ".zip"%}
                    <a href="{% static message.path %}" class="d-flex justify-content-center">
                        <img src="{% static 'img/zip.png' %}" class="m-2" alt="Archivo Zip" width="50%">
                    </a>
                    {% elif message.mimeType == ".rar"%}
                    <a href="{% static message.path %}"class="d-flex justify-content-center">
                        <img src="{% static 'img/rar.png' %}" class="m-2" alt="Archivo Rar" width="50%">
                    </a>
                    {% elif message.mimeType == ".mp4"%}
                        <video src= "{% static message.path %}"  width="320" controls></video>
                    {% endif %}
                    <p class="row p-3" style="margin-bottom: -20px; margin-top: -30px;" id="{{ task.title }}">{{ message.body }} </p>
                    <p class="row font-italic p-3 d-flex justify-content-end " style="margin-bottom: -10px; margin-top: -30px;">{{message.created|date:"H:m"}}</p>
                </div>
            {% endif %}
            <p class="row p-3" style="margin-bottom: -20px; margin-top: -30px;" id="{{ task.title }}">{{ message.body }} </p>
            <p class="row font-italic p-3 d-flex justify-content-end " style="margin-bottom: -10px; margin-top: -30px;">{{message.created|date:"H:m"}}</p>
        </div>
    {% endif %}
    {% endfor %}       
</div>
<form action="{% url 'taskChat' task.identifier userId %}" method="POST" enctype="multipart/form-data">
    <div id="mediaSection" class="container list p-3 mt-2" style="height: 50px; overflow: hidden;">
        {% load static %}
        <div class="image-upload">
          <label for="file">
            <img src="{% static 'img/archivos.png' %}" alt="Enviar Archivos" style="margin-right: 20px;">
            <img src="{% static 'img/imagen.png' %}" alt="Enviar Imagen" style="margin-right: 20px;">
            <img src="{% static 'img/mic.png' %}" alt="Enviar Audio" style="margin-right: 20px;">
          </label>
            <input name="file" id="file" type="file" style="display:none;"/>
        </div>
    </div>
    <div id="newMessageSection" class="container list p-3" style="height: 100px;overflow: hidden; margin-bottom: 50px;">
        <input type="hidden" name="mimeType" id="mimeType" value="txt">
        <input type="text" style="font-size: medium; width: 92%; padding: 10px;" name="body" id="body" placeholder="Escribe tu mensaje">
        <input type="hidden" name="identifier" id="identifier" value="{{task.identifier}}">
        <input type="hidden" name="category" id="category" value="task">
        <input type="image" style="height: 49px; float: right;" name="submit" src="{% static 'img/enviar.png' %}" alt="Submit">
    </div>
</form>
{% endblock %}