{% extends  "tutors/tutors.html" %}
{% load static %}
{% block main %}
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col align-self-start">
            <br>
            <a href="{% url 'tutorTasks' %}" class="btn btn-secondary" role="button">Volver atrás</a>
        </div>
        <div class="col">
        <br>
            <div class="card" style="width: 50rem;">
              <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ task.shortDescription }}</h6>
                  <hr/>
                  <p class="card-text">
                      <form action="{% url 'tutorTasksEdit' id=task.id %}" method="post" enctype="multipart/form-data">
                        <table>
                            {% for field in form %}
                                <tr>
                                    <td>
                                        {{ field.label_tag }}
                                    </td>
                                    <td>
                                        {{ field.errors }}
                                        {{ field }}
                                    </td>
                                    <td>
                                        {% if field.help_text %}
                                            {{ field.help_text }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if field == form.image and task.image.url != 'null' %}
                                            Icono actual:<br>
                                            <a href="/{{ task.image.url }}"><img style="width: 100px;" src="/{{ task.image.url }}"></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="submit" value="Enviar">
                                    </td>
                                </tr>
                        </table>
                    </form>
                  </p>
              </div>
            </div>
        </div>
        <div class="col">
            <br>
            <div style="float:right; display: inline-block;">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#statusModal">Resoluciones</button>
                <br>
                <br>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ratingModal">Valoraciones</button>
                <br>
                <br>
                <a class="btn btn-light btn-outline-dark" href="{% url 'tutorTasksDelete' id=task.id  %}" role="button"><img style="width: 50%;" src="{% static 'img/eliminar.png' %}" /></a>
            </div>
        </div>
      </div>
    </div>

    {% include "tutors/task-solutions.html" with taskStatus=taskStatus %}
    {% include "tutors/task-rates.html" with task=task taskRates=ratings %}
{% endblock %}