{% extends  "tutors/tutors.html" %}
{% load static %}
{% block otherScripts %}
    <script type="text/javascript" src="{% static 'javascript/tasks.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="container ">
        <div class= "row mt-4">
            <div class= "col-1" style="color: white;">
                <h2 style="">Tareas</h2>
            </div>
            <div class= "col-sm">
                <input type="text" id="myInput" style="float: right; padding: 10px; width: 262px; border-radius: 10px;" onkeyup="myFunction()" placeholder="Busca por nombre...">
            </div>
            <div class= "col-sm justify-content-end">
                <div class= "row">
                    <div class= "col-sm  justify-content-end">
                        <button type="button" class="btn btn-light btn-outline-dark" style="width: 60px; float: right;" data-toggle="modal" data-target="#newTaskModal"><img style="width: 70%;" src="{% static 'img/mas.png' %}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myUL">
        {% for task in tasks %}
            <div class="container">
              <div class="row align-items-center fila">
                <div class="col-sm">
                  <a href="{% url 'tutorTasksEdit' id=task.id %}">
                      <div class="card" style="width: 55rem;">
                          <div class="card-body">
                              <div class="row align-items-center">
                                <div class="col-1">
                                  <img style="width: 50px;" class="card-img" src="{% static 'img/Logo.jpg' %}" alt="Card image cap">
                                </div>
                                <div class="col-sm">
                                  <h5 class="card-title">{{ task.title }}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{ task.shortDescription }}</h6>
                                </div>
                              </div>
                          </div>
                      </div>
                  </a>
                </div>
                <div class="col-sm">
                  <div class="row align-items-center">
                    <div class="col-sm">
                        <a class="btn btn-light btn-outline-dark" href="{% url 'tutorTasksEdit' id=task.id  %}" role="button"><img style="width: 110%;" src="{% static 'img/editar.png' %}" /></a>
                    </div>
                    <div class="col-sm">
                        <button type="button" class="btn btn-light btn-outline-dark deleteTask" data-toggle="modal" data-target="#deleteTaskModal" data-title="{{ task.title }}" data-id="{{ task.id }}"><img style="width: 110%;" src="{% static 'img/eliminar.png' %}" /></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
        {% endfor %}
    </div>
    
    <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteTaskModalLabel">Borrar Tarea</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p class="text-center">¿Realmente quiere borrar la tarea?</p>
              <div style="margin-left: auto; margin-right:auto; width: 100px;">
                  <a class="btn btn-light btn-outline-dark borrar-link" href="" role="button"><img style="width: 110%;" src="{% static 'img/eliminar.png' %}" /></a>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    {% include "tutors/task-new.html" with form=form users=users categoryForm=categoryForm%}
{% endblock %}